.profile {
    border: 2px solid white;
    border-radius: 1em;
    height: 150px;
    width: 100%;
    padding: 1em;
}

.headshot {
    height: 100%;
    float: left;
    border-radius: 20%;
    border: 2px solid white;
}

.quote {
    float: left;
    margin-left: 1em;
    font-size: 18px;
    width: 50%;
    height: 100%;
    line-height: 1.3em;
}
